* {
    box-sizing: border-box;
    margin: 0;
    padding: 0.25%;
    background-color: #24252a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li, a{
    font-weight: 500;
    font-size: 16px;
    color: blanchedalmond;
    text-decoration: none;
    display: inline-flex;
}

h1, h2 {
    font-size: larger;
    color: blanchedalmond;
    font-weight: bold;
}

h3 {
    font-size: medium;
    color: blanchedalmond;
}

h4 {
    font-size: medium;
    color: blanchedalmond;
}

p {
    font-size: medium;
    color: blanchedalmond;
}

.main_image {
    align-items: center;
}

.wrapper {
    max-height: 300px;
    border: 1px solid;
    display: flex;
    overflow-x: auto;
}

.wrapper ::-webkit-scrollbar {
    width: 5px;
}

.wrapper ::-webkit-scrollbar-thumb {
    background: blanchedalmond;
    border-radius: 2px;
}

.wrapper ::-webkit-scrollbar-thumb:hover {
    background: rgb(244, 204, 144);
}

.wrapper .item {
    min-width: 460px;
    height: 300px;
    line-height: 300px;
    /* text-align: center; */
    margin-right: 2px;
}

/* .container {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px;
} */


/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} */

/* .flex-container {
    display: flex;
    flex-direction: row;
    display: inline;
} */